*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    width:100%;
    height:100vh;
    background-image: url("https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?cs=srgb&dl=pexels-anush-1229356.jpg&fm=jpg");
    background-size: 100% 100%;
    overflow-x: hidden ;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
nav{
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 20;
}
.logo{
    color:white;
    font-size: 40px;
}
 .select-box{
    width:200px;
   position: absolute;
   top:0;
   right:60px;

}
.select-heading img{
    transition: all 0.3s;
}
.select-heading{
    background-color: aliceblue;
    width: 100%;
    padding:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    cursor:pointer;

}
.options{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
    backdrop-filter:blur(5px) ;
    background-color: rgba(240, 248, 255, 0.655);
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    display: none;
}
.active-options{
    display:flex;
}
.rotate{
    transform: rotate(180deg);
}
.option{
    border:20px;
    padding: 10px;
    transition: all 0.4s;
    cursor:pointer;
}
.options:hover{
    background-color: aliceblue;
    letter-spacing: 1px;
}
.right-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    position:relative;
}
main{
    width:100%;
    height:calc(100% - 80px);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.chat-box{
    position: absolute;
    width:30%;
    height:80%;
    bottom:10%;
    right:5%;
    background-color: rgba(245, 245, 220, 0.776);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 10px;
    transform: translateX(600px);
    transition: all 0.5s;
    z-index: 25;
}
.active-chat-box{
    transform: translateX(0px);
}
.chat-container{
    width:100%;
    height:80%;
    overflow:auto;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.input-area{
    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    position: fixed;
    bottom: 0;

}
.prompt{
    width:50%;
    padding:10px;
    background: black;
    color:white;
    font-size: 19px;
    border-radius: 20px;
    outline: none;
}
.input-area button{
    padding: 10px;
    background: black;
    border:none;
    border-radius: 50px;
}
.user-chat-box{
    width:80%;
    padding:20px;
    background-color: black;
    border-radius: 0px 0px 50px 50px;
    position:relative;
    left: 90px;
    color:white;
}
.ai-chat-box{
    width:80%;
    padding:20px;
    background-color: rgb(104, 82, 82);
    border-radius: 0px 50px 50px 50px;
    position:relative;
    left: 0px;
    color:white;
}
.h1{
    font-size: 3vw;
    text-align: center;
}
#chatimg{
cursor:pointer;
}
.options a{
    text-decoration: none;
    color:black;
}
.bgtext{
    font-size: 10vw;
    text-align: center;
    color: rgb(182, 196, 209);
}
.svgs{
    width:50%;
    height:70%;
    display:flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    right:10%;
    position: absolute;
    border-radius: 20px;
    gap:10px;
    bottom: 20%;
    backdrop-filter: blur(5px);
    background-color: rgb(213, 206, 222);
    z-index: 20;
    
}
.svgs::-webkit-scrollbar{
    width:0px;
}
.svgs imgs{
    width:400px;
}
.virtual-assistant{
    position:absolute;
    bottom: 5%;
    left:5%;
    filter:drop-shadow(2px 2px 10px rgb(65,152,214));
}
.speak-page{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.255);
    backdrop-filter:blur(5px) ;
    z-index: 30;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;


}
.active-speak-page{
    display: flex;
}
.speak-page h1{
    color:white
}
#voice{
    margin-top: 30px;
    border-radius: 50%;
}
.virtual-assistant img{
cursor: pointer;
}